<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Prime - Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-danger">Index of prime number must be greater than or equal to 1</h2>
            </div>
        </div>
    </div>

</body>
</html>
