<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Prime</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/application.css" />
</head>

<body>

    <div class="container">
        <div id="fetch-prime" th:attr="data-index=${primeResultForm.index}" class="prime rounded-circle display-2" th:text="'?'"></div>
    </div>

    <script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>

</body>
</html>
